 p, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'camptonlight' !important; }

nav * {
  font-family: 'campton_bookbold' !important; }

.row {
  max-width: 80rem; }

.row .row {
  margin-left: 0;
  margin-right: 0; }

.purple {
  color: #5B2B82; }

.strong, .bold {
  font-weight: bold; }

[data-module-body] > div {
  margin-left: 5px;
  margin-right: 5px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-body] > div {
      margin-left: 10px;
      margin-right: 10px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-body] > div {
      margin-left: 10px;
      margin-right: 10px; } }

[data-module-header] nav a {
  font-size: 14px !important; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-header] nav a {
      font-size: 14px !important; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-header] nav a {
      font-size: 19px !important; } }

[data-module-body] p, [data-module-body] a {
  font-size: 15px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-body] p, [data-module-body] a {
      font-size: 16px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-body] p, [data-module-body] a {
      font-size: 17px; } }

[data-module-body] h3 {
  font-size: 20px;
  line-height: 20px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-body] h3 {
      font-size: 22px;
      line-height: 22px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-body] h3 {
      font-size: 24px;
      line-height: 24px; } }
 [data-module-engagement-module] .background-image-header-main {
  height: 280px;
  width: 280px;
  margin: auto;
  background-image: url("/images/main/engagement-module/cuplux-drive-thru.png");
  background-size: 100% 100%; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-engagement-module] .background-image-header-main {
      height: 320px;
      width: 320px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-engagement-module] .background-image-header-main {
      height: 340px;
      width: 340px; } }

[data-module-engagement-module] .top-bar {
  transition: height .2s linear; }

[data-module-engagement-module] .top-bar.expanded {
  transition: height .2s linear;
  height: 320px; }

[data-module-engagement-module] .name img {
  height: 46px !important;
  width: 46px !important; }

@media only screen and (min-width: 40.0625em) {
  [data-module-engagement-module] nav .top-bar-section ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-top: 2px solid #5B2B82;
    border-bottom: 2px solid #5B2B82; }
    [data-module-engagement-module] nav .top-bar-section ul .flexBottomBorderSpecific {
      border-bottom: 1px solid #5B2B82; }
    [data-module-engagement-module] nav .top-bar-section ul li a {
      background: white !important;
      color: #5B2B82; }
    [data-module-engagement-module] nav .top-bar-section ul li a:hover {
      color: #854cb3 !important; }
    [data-module-engagement-module] nav .top-bar-section ul .current {
      text-decoration: underline; } }
 [data-module-one-column-content-module] h3 {
  color: #5B2B82; }
  [data-module-one-column-content-module] h3.first {
    margin-top: 20px; }
    @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
      [data-module-one-column-content-module] h3.first {
        margin-top: 24px; } }
    @media only screen and (min-width: 64.0625em) {
      [data-module-one-column-content-module] h3.first {
        margin-top: 26px; } }

[data-module-one-column-content-module].data-module-main-grand-opening-one-column-content {
  margin: 0;
  display: none; }
  [data-module-one-column-content-module].data-module-main-grand-opening-one-column-content h3 {
    background-color: #5B2B82;
    padding: 20px;
    margin: 0;
    color: white; }

[data-module-one-column-content-module].data-module-menu {
  margin-top: 15px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-one-column-content-module].data-module-menu {
      margin-top: 20px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-one-column-content-module].data-module-menu {
      margin-top: 25px; } }

[data-module-one-column-content-module].data-module-link-nature-for-one {
  margin-top: 15px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-one-column-content-module].data-module-link-nature-for-one {
      margin-top: 20px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-one-column-content-module].data-module-link-nature-for-one {
      margin-top: 25px; } }
  [data-module-one-column-content-module].data-module-link-nature-for-one img {
    height: 20px;
    width: 20px;
    transition: transform .5s linear; }
    [data-module-one-column-content-module].data-module-link-nature-for-one img.rotateUp {
      transform: rotate(-90deg); }

[data-module-one-column-content-module].data-module-content-nature-for-one {
  display: none; }

[data-module-one-column-content-module].data-module-rewards-faq-link {
  margin-top: 15px; }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-one-column-content-module].data-module-rewards-faq-link {
      margin-top: 20px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-one-column-content-module].data-module-rewards-faq-link {
      margin-top: 25px; } }
  [data-module-one-column-content-module].data-module-rewards-faq-link img {
    height: 20px;
    width: 20px;
    transition: transform .5s linear; }
    [data-module-one-column-content-module].data-module-rewards-faq-link img.rotateUp {
      transform: rotate(-90deg); }

[data-module-one-column-content-module].data-module-rewards-faq {
  display: none; }
  [data-module-one-column-content-module].data-module-rewards-faq .exclusions-restrictions #exclusions-restrictions-link {
    border-bottom: 1px solid #5B2B82; }
    [data-module-one-column-content-module].data-module-rewards-faq .exclusions-restrictions #exclusions-restrictions-link:hover {
      cursor: pointer; }
  [data-module-one-column-content-module].data-module-rewards-faq .exclusions-restrictions .row {
    display: none; }
 [data-module-image-interchange-module] {
  margin-top: 30px;
  font-size: 22px; }
  [data-module-image-interchange-module] img {
    width: 100%; }
    @media screen and (orientation: portrait) {
      [data-module-image-interchange-module] img {
        height: 215px; } }
    @media screen and (orientation: landscape) {
      [data-module-image-interchange-module] img {
        height: 230px; } }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) and (orientation: portrait) {
  [data-module-image-interchange-module] img {
    height: 300px; } }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) and (orientation: landscape) {
  [data-module-image-interchange-module] img {
    height: 320px; } }
    @media only screen and (min-width: 64.0625em) {
      [data-module-image-interchange-module] img {
        height: 380px; } }
 [data-module-footer-bottom-bar-module] footer.show-for-small-only {
  background-color: #f9f7f5;
  padding: 30px; }
  [data-module-footer-bottom-bar-module] footer.show-for-small-only .menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
    [data-module-footer-bottom-bar-module] footer.show-for-small-only .menu li {
      list-style-type: none;
      font-weight: bold; }
    [data-module-footer-bottom-bar-module] footer.show-for-small-only .menu a {
      color: #665f5f; }
    [data-module-footer-bottom-bar-module] footer.show-for-small-only .menu > li:nth-child(n+2) {
      margin-top: 5px; }
  [data-module-footer-bottom-bar-module] footer.show-for-small-only .social {
    display: flex;
    justify-content: center; }
    [data-module-footer-bottom-bar-module] footer.show-for-small-only .social > div:nth-child(n+2) {
      margin-left: 10px; }
    [data-module-footer-bottom-bar-module] footer.show-for-small-only .social i {
      color: #665f5f; }
  [data-module-footer-bottom-bar-module] footer.show-for-small-only .main-text {
    text-align: center;
    margin-top: 20px; }

[data-module-footer-bottom-bar-module] footer.show-for-medium-up {
  position: relative;
  margin-top: 15px;
  background-color: #5B2B82; }
  @media only screen and (min-width: 40.0625em) {
    [data-module-footer-bottom-bar-module] footer.show-for-medium-up {
      height: 60px; } }
  @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    [data-module-footer-bottom-bar-module] footer.show-for-medium-up {
      margin-top: 30px; } }
  @media only screen and (min-width: 64.0625em) {
    [data-module-footer-bottom-bar-module] footer.show-for-medium-up {
      margin-top: 40px; } }
  [data-module-footer-bottom-bar-module] footer.show-for-medium-up .main-text {
    text-align: center;
    color: white; }
    @media only screen and (min-width: 40.0625em) {
      [data-module-footer-bottom-bar-module] footer.show-for-medium-up .main-text {
        line-height: 60px; } }
    @media only screen and (max-width: 40em) {
      [data-module-footer-bottom-bar-module] footer.show-for-medium-up .main-text {
        flex: 0 0 50%;
        margin: 0; } }
  [data-module-footer-bottom-bar-module] footer.show-for-medium-up a {
    color: white; }
  [data-module-footer-bottom-bar-module] footer.show-for-medium-up .social {
    color: white;
    display: flex; }
    @media only screen and (min-width: 40.0625em) {
      [data-module-footer-bottom-bar-module] footer.show-for-medium-up .social {
        position: absolute;
        top: 0;
        right: 10px;
        line-height: 60px; }
        [data-module-footer-bottom-bar-module] footer.show-for-medium-up .social > div {
          margin-right: 10px; } }
    @media only screen and (min-width: 40.0625em) and (min-width: 64.0625em) {
      [data-module-footer-bottom-bar-module] footer.show-for-medium-up .social > div {
        margin-right: 15px; } }
    [data-module-footer-bottom-bar-module] footer.show-for-medium-up .social > div:not(.text) {
      display: flex;
      align-items: center; }
